# Ignore everything
/*

# Except
!.gitignore
!README.md
!/home
!/etc

# Ignore all files in home and etc
/home/*
/etc/*

#Except
!/home/prabhat
!/etc/nixos

# Ignore all files in prabhat
/home/prabhat/*

# Except
!/home/prabhat/.config
!/home/prabhat/.p10k.zsh
!/home/prabhat/userChrome.css.bak

#Ignore all files in .config
/home/prabhat/.config/*

#Except
!/home/prabhat/.config/bato
