# Ignore everything
/*

# Except
!.gitignore
!README.md
!/prabhat

# Ignore all files in prabhat
/prabhat/*

# Except
!/prabhat/.config
!/prabhat/.p10k.zsh
!/prabhat/.zsh
!/prabhat/.zshrc
!/prabhat/pandoc
!/prabhat/userChrome.css.bak

#Ignore all files in .config
/prabhat/.config/*

#Except
!/prabhat/.config/bat
!/prabhat/.config/copyq
!/prabhat/.config/dunst
!/prabhat/.config/fastfetch
!/prabhat/.config/foot
!/prabhat/.config/gtk-3.0
!/prabhat/.config/gtk-4.0
!/prabhat/.config/kitty
!/prabhat/.config/nvim
!/prabhat/.config/sway
!/prabhat/.config/swaylock
!/prabhat/.config/tmux
!/prabhat/.config/wofi
!/prabhat/.config/yazi

/prabhat/.config/copyq/*

!/prabhat/.config/copyq/themes

/prabhat/.config/tmux/*

!prabhat/.config/tmux/tmux.conf
