# Ignore everything
/*

# Except
!.gitignore
!README.md
!/prabhat

# Ignore all files in prabhat
/prabhat/*

# Except
!/prabhat/.config
!/prabhat/.p10k.zsh
!/prabhat/.zsh
!/prabhat/.zshrc
!/prabhat/pandoc
!/prabhat/userChrome.css.bak

#Ignore all files in .config
/prabhat/.config/*

#Except
!/prabhat/.config/bat
!/prabhat/.config/hypr
!/prabhat/.config/kitty
!/prabhat/.config/nvim
!/prabhat/.config/sway
!/prabhat/.config/tmux
!/prabhat/.config/yazi

/prabhat/.config/tmux/*

!prabhat/.config/tmux/tmux.conf
